<h1>{{course.course_title}}</h1>
<br/>
<br/>
<p-footer>
  <textarea pInputTextarea [(ngModel)]="post.content"></textarea>
  <br/>
  <button pButton type="button" (click)="addPost(post.content)" icon="fa-plus" label="Suggest post" class="ui-button-success"></button>
</p-footer>
<br/>
<br/>
<li *ngFor="let post of coursePosts">
  <p-panel header="{{post.firstname}}   {{post.lastname}}" [toggleable]="true">
    <p>{{post.content}}</p>
    <br/>
    <p ngClass="date">{{ post.date | date:'medium'}}</p>
  </p-panel>
  <p-footer>
    <button pButton type="button" (click)="goToPostCommentsPage(post.id)" icon="fa-comment" label="Comments" class="ui-button-success"></button>
  </p-footer>
  <br/>
  <br/>
</li>


