<ul class="sidenav">
  <li><a href="javascript:void(0)" (click)="menuClick()"><span class="fa fa-icon fa-bars" style="font-size: 1.1em;"></span></a></li>
  <li>
    <a class="logo_link" routerLink="/">
      <div>
        <div style="padding:30px;font-family: sans-serif;font-size: 0.9em;">Home</div>
      </div>
    </a>

  </li>
  <li>
    <a class="logo_link">
      <div>
        <div style="width: 200px;padding:30px;font-family: sans-serif;font-size: 0.9em">Welcome {{curUser.firstname}} {{curUser.lastname}}</div>
      </div>
    </a>
  </li>
  <li class="btn_exit"><a href="javascript:void(0)" (click)="doLogout()">Logout</a></li>
  <!--li class="btn_exit" routerLink="/home/messages"><span class="fa fa-icon fa-envelope-o" style="font-size: 4.0em;"></span> </li-->
  <li class="btn_exit"><a routerLink="/home/my-profile">My profile</a></li>

</ul>
<ul class="left_menu" [@slideInOutAnimation]="state">
  <li >
    <a routerLink="friends" (click)="menuClick()">
      <span class="fa fa-icon fa-user"></span>Friends
    </a>
  </li>
  <li >
    <a routerLink="courses" (click)="menuClick()">
      <span class="fa fa-icon fa-university"></span>Courses
    </a>
  </li>
  <!--li >
    <a routerLink="messages" (click)="menuClick()">
      <span class="fa fa-icon fa-envelope"></span>Messages
    </a>
  </li-->
</ul>
<div #content class="content ui-widget" style="height: 100%;">
  <router-outlet></router-outlet >
</div>
